body {
  max-width: 960px;
  background-color: grey;
  margin: 0 auto;
}

.container {
  margin: 20px auto;
  background-color: white;
  width: 90%;
  padding: 0px 20px 20px 20px;
  border: 0px dotted black;
}


.container-sml {
  margin: 20px auto;
  width: 90%;
  padding: 0px 20px 20px 20px;
  border: 1px solid black;
}

th {
  text-align: left;
}
