<div id="create_tweet">
  <form action="/tweets/new" method="post">
    <textarea rows="5" cols="10" name="message" placeholder="Compose Tweet!"required></textarea><br>
    <input type="hidden" name="user_id" value="<%= @logged_in_user.id %>">
    <input type="submit" value="Tweet">
  </form>
</div>