<h2>Log in</h2>
  <div class="container-sml">
    <form action="/users/login" method="post">
      <input type="email" name="email" placeholder="example@email.com" required><br>
      <input type="password" name="password" placeholder="password" required><br>
      <input type="submit" value="Login">
    </form>
  </div>