<h2>Become a member</h2>
  <div class="container-sml">
    <form action="login" method="post">
      <input type="text" name="name" placeholder="Full name">
      <input type="text" name="user_name" placeholder="username">
      <input type="email" name="email" placeholder="example@email.com"><br>
      <input type="password" name="password" placeholder="password"><br>
      <input type="submit" value="Register">
    </form>
  </div>