<div class="container">
  <h1>Welcome to Lil Twitta!</h1>
  <br>
  <hr>

<!-- Log in user-->
  <div class="container-sml">
    <form action="login" method="post">
      <input type="email" name="email" placeholder="example@email.com"><br>
      <input type="password" name="password" placeholder="password"><br>
      <input type="submit" value="Login">
    </form>
  </div>

<!-- Create user -->
  <div class="container-sml">
    <form action="login" method="post">
      <input type="text" name="name" placeholder="Full name">
      <input type="text" name="user_name" placeholder="username">
      <input type="email" name="email" placeholder="example@email.com"><br>
      <input type="password" name="password" placeholder="password"><br>
      <input type="submit" value="Register">
    </form>
  </div>

</div>
