<div class="container">
  <h1>Welcome to Lil Twitta!</h1>
  <br>
  <p>The best social networking site in the world!</p>
  <hr>

<!-- Log in user-->
<%= erb :_login %>

<!-- Create user -->
<%= erb :_register %>

</div>
